<div class="container">
    <h1>Lista de Departamentos</h1>
    <button routerLink="/departamento" class="btn btn-primary m-4">Agregar Nuevo Departamento</button>
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departamento of departamentos">
          <td>{{ departamento.codigo }}</td>
          <td>{{ departamento.nombre }}</td>
          <td>
            <button routerLink='/departamento' class="btn btn-warning m-2">Editar</button>
            <button (click)="deleteDepartamento(departamento._id)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  